* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #000000;
  color: whitesmoke
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.logo {
  font-size: 24px;
  font-weight: 600;
  color: #0f6590;
}

.nav-links a {
  cursor:pointer;
  margin-left: 20px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}
.nav-links :hover{
color:#0fa1ab}


.login {
  border: 1px solid #fff;
  padding: 6px 14px;
  border-radius: 20px;
}

.menu {
  display: none;
  font-size: 26px;
  cursor: pointer;
}
.hero {
  text-align: center;
  padding: 120px 20px;
  background: linear-gradient(180deg, #227591, #000);
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 25px;
}

.hero button {
  background-color: #0f5184;
  color: #000;
  border: none;
  padding: 14px 32px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  transition: transform 0.2s;
}

.hero button:hover {
  transform: scale(1.05);
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 80px 60px;
  background-color: #000;
}

.card {
  background-color: #111;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

.card h3 {
  margin-bottom: 10px;
  color: #00eeff;
}

@media (max-width: 768px) {
  .features {
    grid-template-columns: 1fr;
    padding: 40px 20px;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    background: #000;
    flex-direction: column;
    width: 100%;
    display: none;
    text-align: center;
  }

  .nav-links a {
    margin: 15px 0;
  }

  .menu {
    display: block;
  }
}
.artist {
  padding: 80px 40px;
  background-color: #000;
  text-align: center;
}

.artist h2 {
  font-size: 36px;
  margin-bottom: 40px;
  color: #46a8bc;
}

.artist-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  max-width: 900px;
  margin: auto;
  background: #111;
  padding: 40px;
  border-radius: 16px;
}

.artist-box img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #0989ac;
}

.artist-info h3 {
  color: rgb(255, 119, 0);
  font-size: 28px;
  margin-bottom: 10px;
}

.artist-info p {
  color: #be6405;
  margin-bottom: 15px;
}

.songs {
  text-align: left;
  padding-left: 20px;
}

.songs li {
  color: rgb(201, 102, 31);
  margin-bottom: 8px;
  font-size: 16px;
}
@media (max-width: 768px) {
  .artist-box {
    flex-direction: column;
    text-align: center;
  }

  .songs {
    text-align: center;
    padding-left: 0;
    list-style-position: inside;
  }
}

